* {margin:100;padding:100;}

body {
	background-color: navy;
	margin: auto;
	padding: 47px;
	line-height:1.5em;
	color: white;
	font-family: "微软雅黑", "Hei", sans-serif;
}

h1 {
	font-family: "微软雅黑", "Hei", sans-serif;
	color: inherit;
	text-align: center;
	line-height: normal;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "微软雅黑", "Hei", sans-serif;
    color: yellow;
    text-align: left;
}

p {
}

a {color:yellow;text-decoration:underline;}
a:hover{text-decoration:underline;}
a code,a:link code,a:visited code{color:red;}

button {
	color: white;
}

#author {
	text-align:right;
    color: white;
}

#date {
	text-align:right;
    color: white;
}

#signature {
	text-align:right;
	color: white;
}