/**
 * accessible tools 
 */
#acctoolbar {
	width:964px;
	position:fixed;
	z-index:10000;
	height:30px;
	padding-top:1px;
	top:0;
}
#acctoolbar button {
	height:28px;
	border:none;
	background:none;
	width:100px;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #a0c880;
} 
#acctoolbar .first {
	width:120px;
	border-left:none;
}
#acctoolbar .last {
	border-right:none;
}
#guides_horiz {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	height:5px;
	overflow:hidden;
	width:100%;
	background-color:#FF0000;
}
#guides_verti {
	position:absolute;
	top:0;
	left:0;
	z-index:101;
	width:5px;
	overflow:hidden;
	height:100%;
	background-color:#FF0000;
}