<?xml version="1.0" encoding="UTF-8"?>
<website>
    <editor>genghailong</editor>
    <info>heilongjiang</info>
    <crawlTime></crawlTime>
    <threadLimit>10</threadLimit>
    <node>
        <name>chinese heilongjiang</name>
        <url>http://www.hlj.gov.cn/</url>
        <refreshRate></refreshRate>
        <ruleList>
            <rule>
                <expressionList>
                    <expression type="RegExp" executeOnlyOnce="false" label="nextPage" value=""/>
                    <expression type="RegExp" executeOnlyOnce="false" label="url" value=""/>
                    <expression type="RegExp" executeOnlyOnce="false" label="title" value=""/>
                </expressionList>
                <maxPageCount></maxPageCount>
                <childRule/>
                <nodeList>
                    <node>
                        <name>gongGaoXinXi</name>
                        <url>http://www.hlj.gov.cn/zwdt/ggxx/index.shtml</url>
                        <refreshRate></refreshRate>
                        <ruleList>
                            <rule>
                                <expressionList>
                                    <expression type="RegExp" executeOnlyOnce="false" label="nextPage" value="&lt;a href=&quot;([^&quot;]*)&quot;&gt;下一页"/>
                                    <expression type="RegExp" executeOnlyOnce="false" label="url" value="&lt;td&gt;&lt;ul&gt;&lt;a href=&quot;([^&quot;]*)&quot;"/>
                                    <expression type="RegExp" executeOnlyOnce="false" label="title" value="&lt;td&gt;&lt;ul&gt;&lt;a href=&quot;[^&quot;]*&quot; Title=&quot;([^&quot;]*)&quot;"/>
                                </expressionList>
                                <maxPageCount></maxPageCount>
                                <childRule/>
                                <nodeList/>
                            </rule>
                        </ruleList>
                    </node>
                </nodeList>
            </rule>
            <rule>
                <expressionList>
                    <expression type="RegExp" executeOnlyOnce="false" label="nextPage" value=""/>
                    <expression type="RegExp" executeOnlyOnce="false" label="url" value=""/>
                    <expression type="RegExp" executeOnlyOnce="false" label="title" value=""/>
                </expressionList>
                <maxPageCount></maxPageCount>
                <childRule/>
                <nodeList>
                    <node>
                        <name>zhengWuYaoWen</name>
                        <url>http://www.hlj.gov.cn/zwdt/zwyw/index.shtml</url>
                        <refreshRate></refreshRate>
                        <ruleList>
                            <rule>
                                <expressionList>
                                    <expression type="RegExp" executeOnlyOnce="false" label="nextPage" value="&lt;a href=&quot;([^&quot;]*)&quot;&gt;下一页"/>
                                    <expression type="RegExp" executeOnlyOnce="false" label="url" value="&lt;td&gt;&lt;ul&gt;&lt;a href=&quot;([^&quot;]*)&quot;"/>
                                    <expression type="RegExp" executeOnlyOnce="false" label="title" value="&lt;td&gt;&lt;ul&gt;&lt;a href=&quot;[^&quot;]*&quot; Title=&quot;([^&quot;]*)&quot;"/>
                                </expressionList>
                                <maxPageCount></maxPageCount>
                                <childRule/>
                                <nodeList/>
                            </rule>
                        </ruleList>
                    </node>
                </nodeList>
            </rule>
            <rule>
                <expressionList>
                    <expression type="RegExp" executeOnlyOnce="false" label="nextPage" value=""/>
                    <expression type="RegExp" executeOnlyOnce="false" label="url" value=""/>
                    <expression type="RegExp" executeOnlyOnce="false" label="title" value=""/>
                </expressionList>
                <maxPageCount></maxPageCount>
                <childRule/>
                <nodeList>
                    <node>
                        <name>jiHuaGuiHua</name>
                        <url>http://www.hlj.gov.cn/zwdt/jhgh/index.shtml</url>
                        <refreshRate></refreshRate>
                        <ruleList>
                            <rule>
                                <expressionList>
                                    <expression type="RegExp" executeOnlyOnce="false" label="nextPage" value=""/>
                                    <expression type="RegExp" executeOnlyOnce="false" label="url" value="&lt;a href=&quot;([^&quot;]*)&quot;&gt;更多"/>
                                    <expression type="RegExp" executeOnlyOnce="false" label="title" value="&lt;td class=&quot;ftit&quot;&gt;(.*)&lt;/td&gt;"/>
                                </expressionList>
                                <maxPageCount></maxPageCount>
                                <childRule>
                                    <rule>
                                        <expressionList>
                                            <expression type="RegExp" executeOnlyOnce="false" label="nextPage" value="&lt;a href=&quot;([^&quot;]*)&quot;&gt;下一页"/>
                                            <expression type="RegExp" executeOnlyOnce="false" label="url" value="&lt;td&gt;&lt;ul&gt;&lt;a href=&quot;([^&quot;]*)&quot;"/>
                                            <expression type="RegExp" executeOnlyOnce="false" label="title" value="&lt;td&gt;&lt;ul&gt;&lt;a href=&quot;[^&quot;]*&quot; Title=&quot;([^&quot;]*)&quot;"/>
                                        </expressionList>
                                        <maxPageCount></maxPageCount>
                                        <childRule/>
                                        <nodeList/>
                                    </rule>
                                </childRule>
                                <nodeList/>
                            </rule>
                        </ruleList>
                    </node>
                </nodeList>
            </rule>
        </ruleList>
    </node>
</website>
