/spider/*
!/spider/YZSpider
/spider/YZSpider/YZSpider.pro.user
/parser/*
!/parser/YZParser
/parser/YZParser/YZParser.pro.user
/spiderConfigFileGenerator/*
!/spiderConfigFileGenerator/SpiderConfigFileGenerator
/spiderConfigFileGenerator/SpiderConfigFileGenerator/SpiderConfigFileGenerator.pro.user
/parserConfigFileGenerator/*
!/parserConfigFileGenerator/parserConfigFileGenerator
/parserConfigFileGenerator/parserConfigFileGenerator/parserConfigFileGenerator.pro.user
/tools/*
!/tools/Generator
/tools/Generator/Generator.pro.user
!/tools/JavaScriptDebugger
/tools/JavaScriptDebugger/JavaScriptDebugger.pro.user