/**
 * 辅助线、放大镜、翻译结果相关的界面表现
 */
#guides_horiz {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	height:5px;
	overflow:hidden;
	width:100%;
	background-color:#FF0000;
}
#guides_verti {
	position:absolute;
	top:0;
	left:0;
	z-index:101;
	width:5px;
	overflow:hidden;
	height:100%;
	background-color:#FF0000;
}

.fixed-bottom {
	/*
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
  margin-bottom: 0;
  */
}

.magnifier {
  position: fixed;
  background-color: #ccc;
  width:100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  margin: 0;
  *position: absolute; 
  *top:expression(eval(document.compatMode && 
	document.compatMode=='CSS1Compat') ? 
	documentElement.scrollTop 
	+(documentElement.clientHeight-this.clientHeight) - 1 
	: document.body.scrollTop 
	+(document.body.clientHeight-this.clientHeight) - 1); 
  	height: 200px;
  	display:none;
}

.screen {
	margin: 10px;
	border-width: 3px;
	border-style: solid;
	border-left-color: #666;
	border-right-color: #ccc;
	border-top-color: #333;
	border-bottom-color: #fff;
	
	font-family: sans-serif;
	font-weight: bold;
	color: yellow;
	height: 174px;
  font-size: 160px;
  text-align: center;
	background-color: black;
	display: block;
  	white-space: nowrap;
  	overflow: hidden;
}

.screen div {
	height: 100%;
}

.mod_translate { 
	position:absolute; 
	left:0; 
	top:0; 
	width:350px; 
	background:#999; 
	border:3px solid #999; 
	border-radius:3px; 
	padding:0.4em 0.8em; 
	color:#fff; 
	opacity:0.9;
	display: none;


/*   visibility: hidden; */
/*   opacity: 0; */
  border: 1px solid;
  border-color: #777 #6c6c6c #666;
  border-radius: 5px;
  -webkit-transition-property: opacity, padding, visibility;
  -moz-transition-property: opacity, padding, visibility;
  -ms-transition-property: opacity, padding, visibility;
  -o-transition-property: opacity, padding, visibility;
  transition-property: opacity, padding, visibility;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: #d9e3fa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eef3fe), color-stop(100%, #d9e3fa));
  background-image: -webkit-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: -moz-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: -ms-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: -o-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: linear-gradient(top, #eef3fe, #d9e3fa);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.mod_translate:before, .mod_translate:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 15px;
  border: 7px outset transparent;
}

.mod_translate:before {
  border-top: 7px solid #555;
  bottom: -14px;
}

/*
.mod_translate .sign { 
	position:absolute; 
	left:1em; 
	bottom:-13px; 
	width:0; 
	height:0; 
	overflow:hidden; 
	border-width:10px 10px 0px 10px; 
	border-color:#999 transparent transparent transparent;
	border-style:solid;
}

*/
