<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>新闻内容</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="assets/css/accessible.css" rel="stylesheet">
    <link href="assets/css/standard.css" rel="stylesheet" title="standard">
    <link href="assets/css/high_contrast.css" rel="stylesheet" title="high_contrast">
    <link href="assets/css/dark.css" rel="stylesheet" title="dark">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/md5.js"></script>
    <script src="assets/js/soapclient.js"></script>
    <script src="assets/js/toolbar/toolbar.js"></script>
    <script src="assets/js/toolbar/speaker.js"></script>
    <script src="assets/js/toolbar/storage.js"></script>
    <script src="assets/js/toolbar/trans.js"></script>
    <script src="assets/js/toolbar/keybinding.js"></script>
    <script src="assets/js/toolbar/keybinding.config.js"></script>
    <script src="assets/js/toolbar/ui.js"></script>
    <script type="text/javascript">
      function transResult(text) {
        alert(text);
      }
    </script>
  </head>

  <body>
    <div id="wrapper" class="container">
      <p><a id="accessible" href="#" onmouseover="speaker.speak($('#accessible').html());">无障碍浏览</a></p>

      <!-- Example row of columns -->
      <div class="row">
        <div align="center">
          <h1 id="news_title" onmouseover="speaker.speak($('#news_title').html());trans.doTranslate($('#news_title').html(), transResult);">${title}</h1>
          <p><div id="author"><span id="author_content" onmouseover="speaker.speak($('#author_content').html());">${author}</span></div></p>
          <p><div id="date"><span id="date_content" onmouseover="speaker.speak($('#date_content').html());">发表日期：${lastModified}</span></div></p>
        </div>
        
        <hr/>

        ${bodyData}
      </div>

    </div> <!-- /container -->
  </body>
</html>