<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--  
    <link href="assets/css/standard.css" rel="stylesheet" title="standard">
    <link href="assets/css/high_contrast.css" rel="stylesheet" title="high_contrast">
    <link href="assets/css/dark.css" rel="stylesheet" title="dark">
    -->
    <link href="assets/css/accessible.css" rel="stylesheet">
    <link href="assets/css/bootstrap.css" rel="stylesheet">


    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/md5.js"></script>
    <script src="assets/js/soapclient.js"></script>
    <script src="assets/js/accessible/toolbox.js"></script>
    <script src="assets/js/accessible/basic.js"></script>
    <script src="assets/js/accessible/action.js"></script>
    <script src="assets/js/accessible/speaker.js"></script>
    <script src="assets/js/accessible/storage.js"></script>
    <script src="assets/js/accessible/trans.js"></script>
    <script src="assets/js/accessible/keybinding.js"></script>
    <script src="assets/js/accessible/keybinding.config.js"></script>
    <script src="assets/js/accessible/ui.js"></script>
  </head>

  <body>
    <div class="navbar-fixed-top">
      <div>
        <ul class="breadcrumb">
          <li>
            <a href="#">政府新闻</a><span class="divider">/</span>
          </li>
          <li>${title}</li>
        </ul>
      </div>
    </div>

    <div class="navbar-fixed-bottom">
      <div class="magnifier">
        <button class="close" onclick="hideMagnifier();">&times;</button>
        <p id="magnified"></p>
      </div>
    </div>

    <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div>
        </div>

      <!-- Example row of columns -->
      <div class="span8">
        <div>
          <h1><span id="news_title">${title}</span></h1>
          <p><div id="author"><span id="author_content">${author}</span></div></p>
          <p><div id="date"><span id="date_content">发表日期：${lastModified}</span></div></p>
        </div>
        
        <hr/>

        ${bodyData}
      </div>

      <div class="span2">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li><a id="width_high"         href="#">页面宽</a></li>
            <li><a id="width_normal"       href="#">页面正常</a></li>
            <li><a id="width_low"          href="#">页面窄</a></li>
            <li><a id="text_in"            href="#">放大文字</a></li>
            <li><a id="text_out"           href="#">缩小文字</a></li>
            <li><a id="line_height_in"     href="#">放大行距</a></li>
            <li><a id="line_height_out"    href="#">减少行距</a></li>
            <li><a id="change_font"        href="#">更换字体</a></li>
            <li><a id="guides"             href="#">辅助线</a></li>
            <li><a id="show_magnifier"     href="#">放大镜</a></li>
            <li><a id="theme_standard"     href="#">基本主题</a></li>
            <li><a id="theme_dark"         href="#">黑色主题</a></li>
            <li><a id="theme_highcontrast" href="#">高对比度主题</a></li>
            <li><a id="should_read"        href="#">开关朗读</a></li>
            <li><a id="should_trans"       href="#">开关翻译</a></li>
            <li><a id="flip_contrast"      href="#">翻转对比度</a></li>
            <li><a id="where_am_i"         href="#">播报当前位置</a></li>
            <li><a id="show_help"          href="#">帮助</a></li>
          </ul>
        </div>
      </div>

    </div> <!-- /container -->
  </body>
</html>