/**
 * 辅助线相关的界面表现
 */
#guides_horiz {
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	height:5px;
	overflow:hidden;
	width:100%;
	background-color:#FF0000;
}
#guides_verti {
	position:absolute;
	top:0;
	left:0;
	z-index:101;
	width:5px;
	overflow:hidden;
	height:100%;
	background-color:#FF0000;
}